node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env
/tests-examples/
.txt
.xlsx
/raw_material_tests/
Projekt Rental Carl - test case Rental Car.xlsx
projectplan.txt